div.contents{
    padding: 5%;
    border-radius: 10px;
    background-color: cyan;
}
button{
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    width: 100px;
    height: auto;
    min-width: 60px;
    background-color: limegreen;
    border-radius: 10px;
}
